* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  position: relative;
}

.hide {
  display: none !important;
}

.unhide {
  display: block !important;
}

.app-theme-btn {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5em;
}

.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-text {
  padding: 1em;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: underline;
}

.profiles-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
}

.profile-card {
  width: 20em;
  height: 25em;
  border-radius: 0.8em;
  box-shadow: 0 8px 8px -4px lightblue;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  cursor: pointer;
  row-gap: 1em;
}

.profile-img {
  height: 50%;
  border: 0.1em solid black;
  object-fit: contain;
  border-radius: 50%;
  background: indianred;
}

.profile-details-container {
  text-align: left;
  width: 100%;
}

.proile-card-text {
  width: 100%;
  text-align: left;
  padding: 0.2em 0em;
}

.workout-list {
  width: 96%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  padding: 0.1em;
  justify-content: center;
}

.workout-card {
  border: 0.1em solid black;
  width: 20em;
  height: 21.5em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.workout-card-data-item {
  border: 0.1em solid black;
  font-size: 0.8em;
  padding: 0.2em;
}

.workout-card-btn-list {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1em;
}

.workout-card-btn {
  padding: 0.4em;
  width: 8em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-section {
  width: 60%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  row-gap: 1em;
  border: black;
}

.timer-text {
  font-size: 2.3em;
}

.workout-btn-controls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.workout-btn-control {
  padding: 0.5em;
  width: 6em;
  font-size: 1.5em;
}

.exercise-list {
  width: 80%;
  height: 100%;
  border: 0.1em solid black;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;
}

.exercise-item {
  width: 15em;
  height: 15em;
  border: 0.1em solid black;
}
