* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  position: relative;
}

body {
  position: relative;
}

input {
  background: transparent;
  border: 0.1em solid black;
}

.hide {
  display: none !important;
}

.unhide {
  display: block !important;
}

.app-theme-btn {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5em;
}

.app-nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: aquamarine;
  z-index: 3;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-text {
  padding: 1em;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  margin-top: 2em;
}

.profiles-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
}

.profile-card {
  width: 20em;
  height: 25em;
  border-radius: 0.8em;
  box-shadow: 0 0.5em 0.5em -0.25em lightblue;
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  cursor: pointer;
  row-gap: 1em;
}

.profile-img {
  height: 50%;
  border: 0.1em solid black;
  object-fit: contain;
  border-radius: 50%;
  background: indianred;
}

.profile-details-container {
  text-align: left;
  width: 100%;
}

.proile-card-text {
  width: 100%;
  text-align: left;
  padding: 0.2em 0em;
}

.workout-nav-holder {
  margin-bottom: 3em;
  position: relative;
}

.custom-hiit-btn {
  position: absolute;
  top: 4.05em;
  right: 0;
}

.workouts-nav {
  width: 20em;
  height: 3em;
  background: lightgoldenrodyellow;
  border-radius: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2em;
}

.workout-nav-item-left {
  width: 12em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  text-align: left;
  padding-left: 1em;
}

.workout-nav-active {
  background: floralwhite;
}

.workout-nav-item-right {
  width: 12em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  justify-content: right;
  padding-right: 1em;
}

.workout-list {
  width: 96%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  padding: 0.1em;
  justify-content: center;
  margin-bottom: 1em;
}

.workout-card {
  width: 19em;
  min-width: 19em;
  height: fit-content;
  min-height: 13.5em;
  max-height: 19.5em;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1),
    0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  position: relative;
}

.workout-card-profile-img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  background: indianred;
}

.workout-card-data-item {
  font-size: 0.8em;
  padding: 0.2em;
}

.workout-card-btn-list {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1em;
}

.workout-card-btn {
  padding: 1.3em 1.2em;
  width: 4em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1),
    0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.workout-card-btn:hover {
  background-color: #e2dfdf;
}

.timer-section {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  row-gap: 1em;
  border: black;
}

.timer-container {
  width: 12em;
  height: 12em;
  border: 0.1em solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-text {
  font-size: 2.3em;
}

.next-exercise-cd {
  font-size: 3em;
}

.about-exercise {
  text-align: center;
}

.workout-name-text {
  font-size: 2em;
  font-weight: bold;
}

.exercise-name-text {
  font-size: 1.5em;
}

.guide-text-container {
  text-align: left;
}

.guide-text {
  padding: 0.2em;
}

.progress-bar-main {
  height: 2em;
  width: 100%;
  background: lavender;
  position: relative;
}

.progess-bar-sub {
  height: 2em;
  background-color: greenyellow;
  position: absolute;
  top: 0;
  left: 0;
}

.exercise-content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
}

.workout-btn-controls {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 0.5em;
}

.workout-btn-control {
  width: 8em;
  height: 100%;
  padding: 0.3em;
  font-size: 1.3em;
}

.exercise-list {
  width: 80%;
  height: 100%;
  border: 0.1em solid black;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;
}

.exercise-item {
  width: 20em;
  height: 15em;
  border: 0.1em solid black;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em;
  font-size: 1.2em;
  position: relative;
}

.exercise-item-text {
  border: 0.1em solid black;
  font-size: 1em;
}

.exercise-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.done {
  background-color: ghostwhite;
}

.lock {
  background-color: grey;
}

.exercise-item-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.exercise-item-grow {
  animation: growAnimation 5s forwards, shrinkAnimation 5s 5s forwards;
}

.exercise-item-shrink {
  animation: shrinkAnimation 5s 5s forwards;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.border-right {
  border-right: 0.1em;
}

.border-left {
  border-left: 0.1em;
}

.right-text {
  text-align: right;
}

.form-info-text {
  margin-bottom: 0.3em;
}

.form-container {
  width: 70%;
  margin-top: 2em;
  box-shadow: 0 0.5em 0.5em -0.25em lightblue;
  background: #f1f1f1;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 1em;
}

.form-label {
  font-size: 1.2em;
  font-weight: 500;
  width: fit-content;
}

.form-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em 1em;
}

.form-input {
  width: 82%;
  padding: 0.4em;
}

.generic-btn {
  width: fit-content;
  padding: 1.3em 1.2em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5em;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1),
    0 0.0625em 0.1875em rgba(0, 0, 0, 0.08);
  cursor: pointer;
  margin-bottom: 1em;
}

.generic-btn:hover {
  background-color: #e2dfdf;
}

.exercise-mini-holder {
  width: 100%;
  display: flex;
  row-gap: 0.2em;
  column-gap: 1.2em;
  padding: 1em 0em;
  overflow-x: auto;
  position: absolute;
  top: 100%;
  left: 0;
  scroll-behavior: smooth;
}

.exercise-mini-card {
  width: 7em;
  min-width: 7em;
  padding: 0.4em 0.5em;
  box-shadow: 0 0.5em 0.5em -0.25em lightblue;
  background: lightgoldenrodyellow;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
}

.exercise-mini-input {
  width: 5em;
  text-align: center;
}

.remove-mini-exercise-btn {
  width: fit-content;
  padding: 0.1em;
  border: 0.1em solid black;
  background: ghostwhite;
  border-radius: 0.2em;
  cursor: pointer;
}

.error-text {
  color: red;
}

.info-text {
  color: blue;
}

@media only screen and (min-width: 600px) {
  /* Adjust the minimum width to target tablets or larger screens */
  .form-input {
    width: 94%;
    padding: 0.4em;
  }

  .form-exercise {
    width: 100%;
  }

  .exercise-mini-form-holder {
    margin-top: 1em;
  }
}

@keyframes growAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrinkAnimation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
