* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-style: normal;
  position: relative;
}

body {
  position: relative;
  background-color: #1f252a;
  color: white;
}

input {
  background: transparent;
  border: 0.1em solid black;
}

.hide {
  display: none !important;
}

.unhide {
  display: block !important;
}

.app-theme-btn {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5em;
}

.app-nav-container {
  align-items: center;
  background-color: #343d46;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  box-shadow: 0 0.063em 0.625em 0.313em rgba(0, 0, 0, 0.1);
  height: 3.125em;
  margin-bottom: 0.25em;
  top: 0;
  width: 100%;
}

.appbar-menu-container {
  font-size: 1em;
  margin-left: 0.625em;
  cursor: pointer;
  font-weight: 700;
}

.auth-page {
  width: 100% !important;
  height: 100vh !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 !important;
}

.user-profile-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

.user-profile-image {
  background: #2c3136;
  border-radius: 1.563em;
  cursor: pointer;
  height: 1.563em;
  margin-right: 0.625em;
  width: 1.563em;
}

.user-profile-name {
  cursor: pointer;
  font-size: 0.875em;
  margin-right: 0.625em;
}

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
}

.heading-text {
  padding: 1em;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  color: #e4745d;
}

.profiles-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
  column-gap: 1em;
}

.profile-card {
  width: 20em;
  height: 18em;
  border-radius: 0.8em;
  background: #343d45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  row-gap: 1em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.profile-img {
  height: 50%;
  border: 0.1em solid black;
  object-fit: contain;
  border-radius: 50%;
  background: indianred;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.profile-details-container {
  text-align: left;
  width: 100%;
}

.workout-form-heading {
  color: #e4745d;
}

.proile-card-text {
  width: 100%;
  text-align: left;
  padding: 0.2em 0em;
}

.workout-nav-holder {
  position: relative;
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generic-btn {
  width: fit-content;
  padding: 1.3em 1.2em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1em solid #e4745d;
  border-radius: 5em;
  cursor: pointer;
  color: white;
  background: transparent;
}

.generic-btn:hover {
  background-color: #e4745d;
  color: white;
}

.custom-hiit-btn {
  margin-bottom: 0em !important;
  width: 21em !important;
  height: 4em !important;
  font-weight: 600;
  background: transparent;
  position: fixed;
  bottom: 1%;
  right: 17%;
  z-index: 5;
}

.workouts-nav {
  width: 23em;
  height: 3em;
  background: #353131;
  border-radius: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  cursor: pointer;
}

.workout-nav-item-left {
  width: 11.5em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 5em;
  border-bottom-left-radius: 5em;
  text-align: left;
  padding-left: 1em;
}

.workout-nav-item-left:hover,
.workout-nav-item-right:hover {
  border-radius: 5em;
  background-color: #343d45;
}

.workout-nav-active {
  background: #e4745d;
  border-radius: 5em;
}

.workout-nav-item-right {
  width: 11.5em;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 5em;
  border-bottom-right-radius: 5em;
  justify-content: right;
  padding-right: 1em;
}

.workout-list {
  width: 96%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  padding: 0.1em;
  justify-content: center;
  margin-bottom: 6em;
  margin-top: 1.5em;
}

.workout-card {
  width: 19em;
  min-width: 19em;
  height: fit-content;
  min-height: 13.5em;
  max-height: 19.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  background-color: #343d45;
  border-radius: 0.3em;
  position: relative;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.workout-card-profile-img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 2%;
  background: indianred;
}

.workout-card-data-item {
  font-size: 0.8em;
  padding: 0.2em;
}

.workout-card-btn-list {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 1em;
}

.workout-card-btn {
  padding: 1.3em 1.2em;
  width: 4em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
  cursor: pointer;
  background: transparent;
  border: 0.1em solid #e4745d;
  color: white;
}

.workout-card-btn:hover {
  background-color: #e4745d;
}

.timer-section {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  row-gap: 1em;
  border: black;
}

.timer-container {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1f252a;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.circular-progress-bar {
  background: conic-gradient(#e4745d var(--progress), #42484d var(--progress));
  height: 14em;
  width: 14em;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.timer-text {
  font-size: 2.3em;
}

.next-exercise-cd {
  font-size: 3em;
}

.about-exercise {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-name-text {
  font-size: 2em;
  font-weight: bold;
}

.exercise-name-text {
  font-size: 1.5em;
}

.guide-text-container {
  margin-top: 0.5em;
  text-align: center;
  width: 60%;
}

.guide-text {
  padding: 0.2em;
}

.exercise-content {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
  row-gap: 2em;
  position: relative;
}

.prev-exercise-holder {
  position: absolute;
  left: 0;
  top: 50%;
}

.next-exercise-holder {
  position: absolute;
  right: 0;
  top: 50%;
}

.workout-btn-controls {
  width: 98%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  column-gap: 0.5em;
}

.workout-btn-control {
  width: 8em;
  height: 100%;
  padding: 0.3em;
  font-size: 1.3em;
  background-color: transparent;
  border-radius: 5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
  border: 0.1em solid #e4745d;
  color: white;
  cursor: pointer;
}

.workout-btn-control:hover {
  background-color: #e4745d;
}

.exercise-list {
  width: 80%;
  height: 100%;
  border: 0.1em solid black;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
  justify-content: center;
}

.exercise-item {
  width: 20em;
  height: 15em;
  border: 0.1em solid black;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em;
  font-size: 1.2em;
  position: relative;
}

.exercise-item-text {
  border: 0.1em solid black;
  font-size: 1em;
}

.exercise-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.exercise-list-page {
  margin-top: 2em;
}

.exercise-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: center;
  margin-top: 0.5em;
}

.exercise-list-item {
  width: 80%;
  background-color: #42484d;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
  height: fit-content;
  min-height: 5em;
  border-radius: 1em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.done {
  background-color: ghostwhite;
}

.lock {
  background-color: grey;
}

.exercise-item-emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.exercise-item-grow {
  animation: growAnimation 5s forwards, shrinkAnimation 5s 5s forwards;
}

.exercise-item-shrink {
  animation: shrinkAnimation 5s 5s forwards;
}

.prev-exercise-text {
  color: #e4745d;
}

.next-exercise-text {
  color: #e4745d;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.border-right {
  border-right: 0.1em;
}

.border-left {
  border-left: 0.1em;
}

.exercise-list-holder {
  margin-top: 2em;
}

.form-info-text {
  margin-bottom: 0.3em;
}

.exercise-item-duration-text {
  color: #38ce0a;
}

.form-container {
  width: 70%;
  margin-top: 2em;
  background: #f1f1f1;
  border-radius: 0.5em;
  position: relative;
  margin-bottom: 1em;
  background-color: #343d45;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.form-label {
  font-size: 1.2em;
  font-weight: 500;
  width: fit-content;
}

.form-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em 1em;
}

.activity-header {
  color: #e4745d;
}

.form-input {
  width: 82%;
  padding: 0.4em;
  padding: 0.4em;
  background: transparent;
  border: 0.1em solid darkgrey;
  color: white;
}

.workout-level {
  background-color: #343d45;
}

.exercise-mini-holder {
  width: 95%;
  display: flex;
  row-gap: 0.2em;
  column-gap: 1.2em;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 95%;
}

.exercise-mini-card {
  width: 9em;
  min-width: 9em;
  padding: 0.4em 0.5em;
  background: #343d45;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5em;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
  margin: 0.5em;
}

.mini-btn-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
}

.exercise-mini-input {
  width: 5em;
  text-align: center;
}

.mini-exercise-btn {
  width: fit-content;
  padding: 0.1em;
  border: 0.1em solid black;
  background: transparent;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 1);
}

.mini-exercise-btn:hover {
  background-color: #e4745d;
}

.error-text {
  color: red;
  margin-bottom: 0.5em;
  width: 89%;
}

.info-text {
  color: blue;
}

.form-btn-controls {
  display: flex;
  width: 95%;
  margin-bottom: 1em;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  /* Adjust the minimum width to target tablets or larger screens */
  .form-input {
    width: 94%;
    padding: 0.4em;
  }

  .form-exercise {
    width: 100%;
  }

  .exercise-mini-form-holder {
    margin-top: 1em;
  }

  .custom-hiit-btn {
    right: 2%;
  }

  .exercise-content {
    margin-top: 3em;
  }
}

@keyframes growAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrinkAnimation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
